<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="userName"
            />
            <span class="error-block" *ngIf="!userName.valid && (userName.touched || userSubmitted)"
              >Please enter name</span
            >
          </div>
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <span class="error-block" *ngIf="!email.valid && (email.touched || userSubmitted) "
              ><span *ngIf="email.hasError('required')">Please enter mailId</span>
            <span class="error-block" *ngIf="email.hasError('email')">
              Please provide valid mailId</span>
            </span>
          </div>
          <div class="form-group col-12">
            <label for="Password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            /><span
              class="error-block"
              *ngIf="!password.valid && (password.touched || userSubmitted) ">
              <span *ngIf="password.errors['required']">
                Please enter password </span
              ><span *ngIf="password.errors.minlength"
                >Password should be of atleast 8 characters</span>
            </span>
          </div>
          <div class="form-group col-12">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
            /><span class="error-block" *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)">
              <span *ngIf="confirmPassword.hasError('required')">Please confirm password</span>
            </span>
            <span class="error-block" *ngIf="registrationForm.hasError('notMatched')
            && confirmPassword.valid">
              Password not matched</span>
          </div>
          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile"/>
            <span class="error-block" *ngIf="!mobile.valid && (mobile.touched || userSubmitted) ">
            <span *ngIf="mobile.errors.required">Please enter mobileNo</span>
            <span *ngIf="mobile.errors.maxlength">Password length limit exceeded</span>
            </span>
          </div>
          <br />
          <div class="form-group col-12 d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <button type="reset" class="btn btn-outline-primary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
